<?xml version="1.0" encoding="utf-8"?>
<manifest package="tutorial.firebase.com.shopPlusPlus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ShoppingListApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ShoppingHomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
            android:authorities="tutorial.firebase.com.shopPlusPlus"
            android:name=".analytics.PerfInitContentProvider"/>
    </application>

</manifest>